body{
	background-image:url(../images/sun.jpg);
	padding: 0 2em;
  font-family: Arial, sans-serif;
  
}

.wrapper{
	width: 75%;
	border: solid lightgray;
	text-align: center;
	font-family: "Verdana";
	background-color: lightgrey;
	margin: 10px auto;
	overflow: auto;
}

/*Navigation bar*/

.nav{
	padding: 5px;
	font-style: oblique;
	+
}

.nav li{
	float: right;
	display: inline;
	vertical-align: middle;
	padding:5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: darkred;
	
}

a{
	 display: block;
	text-decoration: none;
	color: black;
	 padding: 14px 16px;
	
}

li a:hover{
	color: darkred;
	background-color: #993300;
	
}

.active {
	 background-color: #111;
	 }

/*Header image and text*/

.container{
	position: relative;
	text-align: center;
	padding: 0px;
}
.container img{
	width: 100%;
}

.center-left img{
	position: absolute;
	top: 30%;
	left: 3%;
}

/*Links section*/


.links ul{
	padding:10px;
	list-style: none;
}

h2.display-4{
	font-size:2.5rem;
}

/*Content page*/
.jumbotron{
	margin-bottom: 5px;
	border-radius: 10px;
}

.jumbotron.jumbotron-fluid{
	background-color: lightgray;
}

#formBG{ 
	background-image:url(../images/BG2.jpg);
	background-size: 100%;
	
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#cleanUp{
	margin-left: 10%;
	margin-right: 10%;
}